extends layout

block content
	h1 #{title}
	form(method="post",action="/login")
		.username
			label Username
			input(type="text", name="username")
		.password
			label Password
			input(type="text", name="password")
		input(type="submit")